input.loginText::placeholder {
    color: #9B9B9B33;
}

.forgot-password {
    margin-left: 45px !important;
    font-size: 16px !important;
    color: #9B9B9BE6 !important;
    cursor: pointer;
}

.forgot-password:hover {
    color: #4A90E2 !important;
}

.back-to-login {
    font-size: 16px !important;
    color: red !important;
    opacity: 0.3;
    margin: 16px !important;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.back-to-login:hover {
    opacity: 0.8 !important;
}

.sign-up-button {
    width: 150px !important;
    float: right;
    margin-right: 20px !important;
}