.login-text {
    padding-left: 10;
    margin: 10px;
    margin-right: 0;
    font-size: 20px;
    background-color: #f6f6f6;
    border: 0px solid;
    outline: none;
    width: 90%;
}

input.login-text::placeholder {
    color: rgba(155, 155, 155, 0.5);
}

.change-password-form {
    margin: 20px auto;
    border-radius: 5px;
    background-color: #f6f6f6;
    height: auto;
    width: 346px;
    border: 1px solid #4482ff;
}

.login-error {
    margin: 0px;
    text-align: center;
    color: red;
}

.password-component {
    min-height: 225px;
}

.password-success {
    font-size: 20px;
    color: black;
    padding-top: 72px;
}